# Nifty configuration file.
#
# Each section lists parameters required by a pipeline step.

manualMode = True
over = False
merge = True
telluricDirectoryList = ['/Users/ncomeau/tests/GN-2015A-Q-47/M85/20150508/J/Tellurics/obs38']
calibrationDirectoryList = ['/Users/ncomeau/tests/GN-2015A-Q-47/M85/20150508/Calibrations_J', '/Users/ncomeau/tests/GN-2015A-Q-47/M85/20150527/Calibrations_Z', '/Users/ncomeau/tests/GN-2015A-Q-47/M85/20150530/Calibrations_Z', '/Users/ncomeau/tests/GN-2015A-Q-47/M87/20150602/Calibrations_Z', '/Users/ncomeau/tests/GN-2015A-Q-47/M87/20150605/Calibrations_J']

[linearPipelineConfig]
sort = False
calibrationReduction = True
telluricReduction = True
scienceReduction = False

[sortConfig]
rawPath = ''
program = 'GN-2015A-Q-47'
sortTellurics = True
date = ''
copy = ''

[calibrationReductionConfig]
baselineCalibrationStart = 1
baselineCalibrationStop = 4

[telluricReductionConfig]
telStart = 1
telStop = 6
telluricSkySubtraction = True
spectemp = ''
mag = ''
hline_method = 'none'
hlineinter = False
continuuminter = False

[scienceReductionConfig]
sciStart = 1
sciStop = 6
scienceSkySubtraction = True
telluric_correction_method = 'none'
telinter = False
efficiencySpectrumCorrection = False
use_pq_offsets = True
im3dtran = True

# Good luck with your Science!
